#!/usr/bin/make -f
#=============================================================================
#  Sca - Source Code Analyzer
#
#  (c) OSLL 2013
#=============================================================================

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

 %:
	dh $@


